@tailwind base;
@tailwind components;
@tailwind utilities;

.FLEX {
    display: flex;
    align-items: center;
    justify-content: center;
}

.STUDENTPAGE {
    @apply bg-gray-800 h-screen w-screen flex items-center justify-center;
}
.STUINNER{
    @apply flex flex-col  bg-[#f4f6fa] h-[95%] w-[95%] rounded-2xl shadow-2xl space-y-6 overflow-y-scroll
}

.FACULTYPAGE {
    @apply bg-gray-400 h-screen flex items-center justify-center
}
.FACINNER{
    @apply flex flex-col  bg-[#f4f6fa] h-[90%] w-[95%] rounded-2xl shadow-2xl space-y-6 overflow-y-hidden
}

